*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;

}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1170px;
  padding-top: 45px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.box{
  float: left;
  background-color: black;
  width: 350px;
  height: 100px;
}




/* HEADER */

.container h1{
  text-align: center;
  padding-top: 23px;
  color: rgb(238, 28, 115);
  font-size: 44px;
  
}

p{
  text-align: center;
  padding-right: 0 20px;
  
}

/* MAIN */

.container-box{
 padding-top: 40px;
}

.sottobox{
 float: left;
 padding: 20px;
}

.box ul{
color: white;
display: inline-block;
}

img{
  width: 100px;
  float: left;
  margin-right: 13px;
  
}


.lista ul li{
  list-style: none;
  padding-top: 8px;
}

.lista .nomi{
  font-size: 20px;
  font-weight: bold;
}

.email a{
  color: rgb(104, 185, 240);
  text-decoration: none;
}